<!DOCTYPE html>
<html>

<body>
   <div class="container invoice">
    <div class="invoice-header">
      <div class="row">
        <div class="col-xs-8">
          <h1>Hợp đồng <small>Dịch vụ </small></h1>
          <h4 class="text-muted">Mã:{{ bills.code }} | Ngày:{{ cart.wedding_date }}</h4>
        </div>
        <div class="col-xs-4">
          <div class="media">
            <div class="media-left">
              <img class="media-object logo" src="https://dummyimage.com/70x70/000/fff&text=ACME" />
            </div>
            <ul class="media-body list-unstyled">
              <li><strong>Áo cưới Linh Trang Tây Ninh</strong></li>
              <li>0853.933.046</li>
              <li>Số 9, Hẻm số 9, Long Thành Bắc, Hòa Thành Tây Ninh</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="invoice-body">
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Thông tin Khách hàng</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Name: </dt>
                <dd><strong>{{ cart.client.full_name }}</strong></dd>
                <dt>Điện thoại</dt>
                <dd>{{ cart.client.phone}}</dd>
                <dt>Địa chỉ</dt>
                <dd>{{ cart.client.address}}</dd>
                <dt>Ngày cưới</dt>
                <dd>{{ cart.wedding_date }}</dd>
                <dt>Ngày giao</dt>
                <dd>{{first_clothe.delivery_date }}</dd>
                <dt>Ngày trả</dt>
                <dd class="mono">{{ first_clothe.return_date }}</dd>
                <dt>Ngày cọc</dt>
                <dd>{{ bills.created_at}}</dd>
            </div>
          </div>
          <h3 class="panel-title">Chi tiết dịch vụ</h3>
          {% if items.clothe_bill %}
          <h4>Cho thuê Áo cưới</h4>
          <table>
            <tr>
              <th>Tên</th>
              <th>Mã</th>
              <th>Giá lẻ</th>
              <th>Giảm giá</th>
            </tr>
            {% for clothe in items.clothe_bill %}
              {% if clothe %}
                {% for item in clothe %}
                  <tr>
                    <td>{{ item.clothe.name }}</td>
                    <td>{{ item.clothe.code }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.discount }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </table>
          {% endif %}
          
          {% if items.makup_bill %}
          <h4>Trang điểm cô dâu</h4>
          <table>
            <tr>
              <th>Tên</th>
              <th>Giá lẻ</th>
              <th>Giảm giá</th>
            
            </tr>
            {% for makeup in items.makup_bill %}
              {% if makeup %}
                {% for item in makeup %}
                  <tr>
                    <td>{{ item.package.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.discount }}</td>
                  </tr>
                  <p>Lưu ý, gói trang điểm {{ item.package.re_makup }} dặm lại</p>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </table>
          {% endif %}
          
          {% if items.photo_bill %}
          <h4>Chụp hình cưới</h4>
          {% for photo in items.photo_bill %}
          {% if photo %}
            {% for item in photo %}
          <table>
            <thead>
              <tr>
                <th>Tên</th>
                <th>Giá bán lẻ</th>
                <th>Giảm giá</th>
              </tr>
            </thead>
            <tbody>
                    <tr>
                      <td>{{ item.package.name }}</td>
                      <td>{{ item.price }}</td>
                      <td>{{ item.discount }}</td>
                    </tr>
                 
            </tbody>
          </table>
          <p>Thông tin bổ sung: Có {{ item.package.number_location }} điểm chụp, {{ item.package.number_gate_photo }} hình cổng
            {{ item.package.number_small_photo }} hình nhỏ, {{ item.package.origin_file }} file gốc,  {{ item.package.edit_file }} file chỉnh sửa 
            và {{ item.package.is_album }} album
          </p>
          {% endfor %}
          {% endif %}
        {% endfor %}
          {% endif %}
         
          
     
        <h4>Tổng bill</h4>
        </table>
      </div>
      <div class="panel panel-default">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <td class="text-center col-xs-1">Tổng tiền giá bán lẻ</td>
              <td class="text-center col-xs-1">Tổng giảm giá</td>
              <td class="text-center col-xs-1">Tổng phát sinh</td>
              <td class="text-center col-xs-1">Tổng tiền thanh toán</td>
              <td class="text-center col-xs-1">Tổng tiền đã trả</td>
              <td class="text-center col-xs-1">Tổng tiền còn lại</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center rowtotal mono">{{total_retail}}</th>
              <th class="text-center rowtotal mono">{{discount}}</th>
              <th class="text-center rowtotal mono">{{incurred}}</th>
              <th class="text-center rowtotal mono">{{total}}</th>
              <th class="text-center rowtotal mono">{{paid}}</th>
              <th class="text-center rowtotal mono">{{receivable}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <div class="panel panel-default">
            <div class="panel-body">
              <i>Ghi chú</i>
              <hr style="margin:3px 0 5px" /> {{bills.node}} 
            </div>
          </div>
   
  </div>
    <div class="invoice-footer">
      Cám ơn quý khách lựa chọn dịch vụ.
      <br/> Lưu ý Khách hàng hủy hợp đồng sẽ....
      <br/>
      <strong>~Khách hàng~</strong>
    </div>
  </div>

    
</body>
