{% extends 'admin/base_site.html' %}



{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <form method="GET" action="{% url 'index' %}">
        {{ form.as_p }}
        <input type = "submit" value="Xác nhận" class="btn btn-primary">
    </form>
  
    <hr/>
    <h1 class="duy"> Danh sách trang phục cho thuê</h1>
    <table class="table" style="border: 1px solid rgb(239, 221, 221); border-top-color:rgb(234, 228, 228);">
        <thead>
          <tr>
            <th style="border: 1px solid rgb(234, 228, 228); background-color: #e9f9ee;">Mã Code</th>
            <th style="border: 1px solid rgb(234, 228, 228); background-color: #e9f9ee;">Ngày</th>
            <th style="border: 1px solid rgb(234, 228, 228); width: 100px; background-color: #e9f9ee;">Khả dụng</th>
            <th style="border: 1px solid rgb(234, 228, 228); background-color: #e9f9ee;">Tên</th>
            <th style="border: 1px solid rgb(234, 228, 228); background-color: #e9f9ee;">Loại</th>
          </tr>
        </thead>
        <tbody>
          {% for x in calendar %}
          <tr>
            <td style="border: 1px solid rgb(234, 228, 228);">{{code }}</td>
            <td style="border: 1px solid rgb(234, 228, 228);">{{ x.date  }}</td>
            <td style="border: 1px solid rgb(234, 228, 228); width: 100px; background-color: #338951;">{{ x.qty_available }}</td>
            <td style="border: 1px solid rgb(234, 228, 228);">{{ name }}</td>
            <td style="border: 1px solid rgb(234, 228, 228);">{{ category }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
</body>




{% endblock %}