{% extends 'admin/base_site.html' %}



{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <form method="GET" action="{% url 'index' %}">
        {{ form.as_p }}
        <input type = "submit" value="Xác nhận" class="btn btn-primary">
    </form>
  
    <hr/>
    <h1 class="duy"> Danh sách trang phục cho thuê</h1>
    <table class="table" style="border: 1px solid black;">
        <thead>
          <tr>
            <th style="border: 1px solid black;">Mã Code</th>
            <th style="border: 1px solid black;">Ngày</th>
            <th style="border: 1px solid black; width: 100px; background-color: #c3e6cb;">Khả dụng</th>
            <th style="border: 1px solid black;">Tên</th>
            <th style="border: 1px solid black;">Loại</th>
          </tr>
        </thead>
        <tbody>
          {% for x in calendar %}
          <tr>
            <td style="border: 1px solid black;">{{code }}</td>
            <td style="border: 1px solid black;">{{ x.date  }}</td>
            <td style="border: 1px solid black; width: 100px; background-color: #c3e6cb;">{{ x.qty_available }}</td>
            <td style="border: 1px solid black;">{{ name }}</td>
            <td style="border: 1px solid black;">{{ category }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
</body>




{% endblock %}