{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Linh Trang Bridal| Home : Tây Ninh</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bouquet Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{%static 'frontend/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{%static 'frontend/css/style.css' %}" type="text/css" rel="stylesheet" media="all">  
<link href="{%static 'frontend/css/font-awesome.css' %}" rel="stylesheet">   <!-- font-awesome icons -->
<link rel="stylesheet" href="{%static 'frontend/css/swipebox.css' %}"> 
<!-- //Custom Theme files -->   
<!-- js -->
<script src="{%static 'frontend/js/jquery-2.2.3.min.js' %}"></script> 
<!-- //js -->
<!-- web-fonts -->    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->  
</head>
<body>
	<!-- banner start here -->
	<div id="home" class="banner">
		<div class="agileinfo-main">
			<div class="slider">
				<script src="{%static 'frontend/js/responsiveslides.min.js' %}"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
					  // Slideshow 1
					  $("#slider1").responsiveSlides({
						 auto: true,
						 nav: true,
						 speed: 500,
						 namespace: "callbacks",
					  });
					});
				</script>
				<ul class="rslides" id="slider1">
					<li> 
						<div class="banner-w3lstext">
							<h3>{{dash_1}} </h3>
						</div>	
					</li>
					<li> 
						<div class="banner-w3lstext">
							<h3>{{dash_2}}</h3>
						</div>	
					</li>
					<li>	
						<div class="banner-w3lstext">
							<h3>{{dash_3}} </h3>
						</div>	
					</li>
				</ul>
			</div>	
			<div class="agileinfo-header">
				<div class="container">
					<!--<div class="agile-logo">
						<h1><a href="index.html"><img src="{%static 'frontend/images/i1.png' %}" class="img-responsive" alt=""/> ling trang  </a></h1>
					</div> -->
					<div class="agileits-w3layouts-icons">
  <div class="social-icon w3-agile">
    <a href="{{face}}" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
    <a href="{{tiktok}}" class="social-button tiktok"><i class="fa-twitter"></i></a>
    <a href="{{google}}" class="social-button google"><i class="fa fa-google-plus"></i></a> 
  </div>
</div>

					<div class="clearfix"> </div>
				</div>	    
			</div>
			<!-- navigation start here -->
			<div class="top-nav">
				<span class="menu">Menu</span>	
				<ul class="w3l">
					<li><a class="active" href="index.html"><span>{{menu1}}</span></a></li>
					<li><a href="#about" class="scroll"><span>{{menu2}}</span></a></li>
					<li><a href="#services" class="scroll"><span>{{menu3}}</span></a></li> 
					<li><a href="#portfolio" class="scroll"><span>{{menu4}}</span></a></li>
					<li><a href="#news" class="scroll"><span>{{menu5}}</span></a></li>
					<li><a href="#contact" class="scroll"><span>{{menu6}}</span></a></li>
				</ul>
				<!-- script-for-menu -->
				<script>
				   $( "span.menu" ).click(function() {
					 $( "ul.w3l" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
				<!-- //script-for-menu -->
			</div><!-- //navigation end here -->	
		</div>
	</div> 
	<!-- //banner end here -->
	<!-- about -->
	<div id="about" class="about w3-agile">
		<div class="container">
			<div class="about-agileinfo-row">
				<div class="col-md-4 col-sm-4 about-w3grids about-w3left">
					<h3 class="agileits-title"> {{menu2}}</h3> 
					<h6>{{about_title}} </h6>
					<p>{{about_content}}</p>
				</div>
				<div class="col-md-4 col-sm-4 about-w3grids about-w3limg">
					{% if about_image %}
					<img src="{{ MEDIA_URL }}{{about_image.url }}" class="img-responsive" alt=""/> 
					{% endif %}
				</div>
				<div class="col-md-4 col-sm-4 about-w3grids about-w3right">
					<h3 class="agileits-title">Khách hàng đánh giá </h3>
					<div class="bar_group">
						<div class='bar_group__bar thin' label='Chất lượng Áo cưới' show_values='true' tooltip='true' value='350'></div>
						<div class='bar_group__bar thin' label='Mẫu mã mới' show_values='true' tooltip='true' value='222'></div>
						<div class='bar_group__bar thin' label='Chất lượng chụp ảnh' show_values='true' tooltip='true' value='475'></div>
						<div class='bar_group__bar thin' label='Thái độ phục vụ' show_values='true' tooltip='true' value='286'></div>
					</div>
					<script src="{%static 'frontend/js/bars.js' %}"></script> 
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> 
	<!-- //about -->
	<!-- table-book -->
	<div class="table-book">
		<div class="container">
			<div class="book-info agile-rowinfo">
				<div class="book-left">
					<h3>Liên hệ hỗ trợ ngay</h3>
					<p>Gọi hoặc liên hệ qua zalo </p>
				</div>
				<div class="book-right">
					<h4>{{phone}}</h4>
				</div>
				<div class="clearfix"> </div>
			</div> 
		</div>
	</div>
	<!-- //table-book -->
	<!-- services -->
	<div id="services" class="services">
		<div class="container">  
			<h3 class="agileits-title">{{menu3}}</h3> 
			<div class="services-w3ls-row agileits-w3layouts">
				<div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
					<i class="fa fa-line-chart" aria-hidden="true"></i>
					<h5>{{ser1_title}}</h5>
					<p>{{ser1_content}}</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<h5>{{ser2_title}}</h5>
					<p>{{ser2_content}}</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
					<i class="fa fa-wheelchair" aria-hidden="true"></i>
					<h5>{{ser3_title}}</h5>
					<p> {{ser3_content}}</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grid bottom-grids">
					<i class="fa fa-bell-o" aria-hidden="true"></i>
					<h5>{{ser4_title}}</h5>
					<p>{{ser4_content}} </p>
				<div class="clearfix"> </div>
			</div>  
		</div>
	</div>
	<!-- //services -->
	<!-- team -->
	<div class="team">
		<div class="container"> 
			<h3 class="agileits-title">Đội ngũ</h3> 
			<div class="team-agileinfo agileits-w3layouts">
				<div class="col-md-6 team-grid w3-agileits">
					<div class="team-grid-right">
						{% if staff1_image  %}
						<img src="{{ MEDIA_URL }}{{ staff1_image.url }}" alt=" " class="img-responsive" />
						{% endif %}					</div>
					<div class="team-grid-left">
						<h4>{{staff1_title}}</h4>
						<p>{{staff1_content}}</p>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 team-grid w3-agileits">
					<div class="team-grid-right aliquam">
						{% if staff2_image  %}
						<img src="{{ MEDIA_URL }}{{ staff2_image.url }}" alt=" " class="img-responsive" />
						{% endif %}
					</div>
					<div class="team-grid-left non">
						<h4>{{staff2_title}}</h4>
						<p>{{staff2_content}}</p>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="team-agileinfo">
				<div class="col-md-6 team-grid w3-agileits">
					<div class="team-grid-right">
						{% if staff3_image  %}
						<img src="{{ MEDIA_URL }}{{ staff3_image.url }}" alt=" " class="img-responsive" />
						{% endif %}
					</div>
					<div class="team-grid-left">
						<h4>{{staff3_title}}</h4>
						<p>{{staff3_content}}</p>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 team-grid w3-agileits">
					<div class="team-grid-right aliquam">
						{% if staff4_image  %}
						<img src="{{ MEDIA_URL }}{{ staff4_image.url }}" alt=" " class="img-responsive" />
						{% endif %}					</div>
					<div class="team-grid-left non">
						<h4>{{staff4_title}}</h4>
						<p>{{staff4_content}}</p>
					</div>
					
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- portfolio -->
	<div id="portfolio" class="services portfolio">
		<div class="container">   
			<h3 class="agileits-title">{{menu4}}</h3>  
			<div class="gallery_gds">
				<ul class="simplefilter">
					<li class="active" data-filter="all">Tất cả</li>
					<li data-filter="1">{{category1_title}}</li>
					<li data-filter="2">{{category2_title}}</li>
					<li data-filter="3">{{category3_title}}</li>
				</ul>
				<div class="filtr-container">
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="1" data-sort="Busy streets">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category1_1.images.url}}" class="swipebox" title="{{category1_1.title}}">
								<img class="img-responsive " src="{{ MEDIA_URL }}{{ category1_1.images.url }}" alt=""  /> 
								<div class="wthree-pcatn">
									<h4>{{category1_1.title}}</h4>  
								</div> 
							</a> 
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="2" data-sort="Luminous night">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category2_1.images.url}}" class="swipebox" title="{{category2_1.title}}">
								<img src="{{ MEDIA_URL }}{{ category2_1.images.url}}" alt="" class="img-responsive" />
								<div class="wthree-pcatn">
									<h4>{{category2_1.title}}</h4>  
								</div> 
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="1" data-sort="City wonders">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category1_2.images.url}}" class="swipebox" title="{{category1_2.title}}">
								<img src="{{ MEDIA_URL }}{{ category1_2.images.url}}" alt="" class="img-responsive" />
								<div class="wthree-pcatn">
									<h4>{{category1_2.title}}</h4>  
								</div> 
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="3" data-sort="Industrial site">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category3_1.images.url}}" class="swipebox" title="{{category3_1.title}}">
								<img src="{{ MEDIA_URL }}{{ category3_1.images.url}}" alt="" class="img-responsive " />
								<div class="wthree-pcatn">
									<h4>{{category3_1.title}}</h4>  
								</div> 
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="3" data-sort="In production">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category3_2.images.url}}" class="swipebox" title="{{category3_2.title}}">
								<img src="{{ MEDIA_URL }}{{ category3_2.images.url}}" alt="" class="img-responsive" />
								<div class="wthree-pcatn">
									<h4>{{category3_2.title}}</h4>  
								</div> 
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="2" data-sort="Peaceful lake">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category2_2.images.url}}" class="swipebox" title="{{category2_2.title}}">
								<img src="{{ MEDIA_URL }}{{ category2_2.images.url}}" alt="" class="img-responsive" />
								<div class="wthree-pcatn">
									<h4>{{category2_2.title}}</h4>  
								</div> 
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="1" data-sort="Peaceful lake">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category1_3.images.url}}" class="swipebox" title="{{category1_3.title}}">
								<img src="{{ MEDIA_URL }}{{ category1_3.images.url}}" alt="" class="img-responsive" />
								<div class="wthree-pcatn">
									<h4>{{category1_3.title}}</h4>  
								</div> 
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="2" data-sort="Peaceful lake">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category2_3.images.url}}" class="swipebox" title="{{category2_3.title}}">
								<img src="{{ MEDIA_URL }}{{ category2_3.images.url}}" alt="" class="img-responsive" />
								<div class="wthree-pcatn">
									<h4>{{category2_3.title}}</h4>  
								</div> 
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="3" data-sort="Peaceful lake">
						<div class="agileits-img">
							<a href="{{ MEDIA_URL }}{{ category3_3.images.url}}" class="swipebox" title="{{category3_3.title}}">
								<img src="{{ MEDIA_URL }}{{ category3_3.images.url}}" alt="" class="img-responsive"/>
								<div class="wthree-pcatn">
									<h4>{{category3_3.title}}</h4>  
								</div> 
							</a>	
						</div>
					</div>
				   <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //portfolio --> 
	<!-- news -->
	<div id="news" class="news">
		<!-- container -->
		<div class="container">
			<h3 class="agileits-title">{{menu5}}</h3> 
			<div class="news-wthreegrid"> 
				<div class="news-grid-left">
					<div class="col-md-3 col-xs-3 date">
						<h4>12 <br> 2022</h4> 
					</div>
					<div class="col-md-9 col-xs-9 date-info">
						<h5><a href="#myModal" data-toggle="modal">{{news1_title}}</a></h5>
						<p> <a href="{{news1_content}}" target="_blank" style="color: white;">Xem tại đây</a></p>

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="news-grid-right">  
					<div class="col-md-3 col-xs-3 date date2">
						<h4>10 <br> 2022</h4> 
					</div>
					<div class="col-md-9 col-xs-9 date-info date-info2">
						<h5><a href="#myModal" data-toggle="modal"> {{news2_title}}</a></h5>
						<p> <a href="{{news2_content}}" target="_blank" style="color: white;">Xem tại đây</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="news-grid-left">
					<div class="col-md-3 col-xs-3 date">
						<h4>09 <br>2020</h4>  
					</div>
					<div class="col-md-9 col-xs-9 date-info">
						<h5><a href="#myModal" data-toggle="modal">{{news3_title}}</a></h5>
						<p> <a href="{{news3_content}}" target="_blank" style="color: white;">Xem tại đây</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!--<div class="news-grid-right">  
					<div class="col-md-3 col-xs-3 date date2">
						<h4>28 <br>February</h4>  
					</div>
					<div class="col-md-9 col-xs-9 date-info date-info2">
						<h5><a href="#myModal" data-toggle="modal">{{news4_title}} </a></h5>
						<p>{{news4_content}}</p>
					</div>
					<div class="clearfix"> </div>
				</div> -->
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //news -->
	<!-- modal-about 
	<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body modal-spa">
					<img src="{%static 'frontend/images/g2.jpg'%}" class="img-responsive" alt=""/>
					<h4>Consectetur adipiscing elit</h4>
					<p>Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate in.<br> Fusce lacus purus, pulvinar ut lacinia id, sagittis eu mi. Vestibulum eleifend massa sem, eget dapibus turpis efficitur at. Aliquam viverra quis leo et efficitur. Nullam arcu risus, scelerisque quis interdum eget, fermentum viverra turpis. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut At vero eos </p>
				</div> 
			</div>
		</div>
	</div> -->
	<!-- //modal-about -->    
	<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="agileits-title">Đánh giá Cộng đồng</h3>  
			<div class="testi-w3agileinfo"> 
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#testi" aria-controls="testi" role="tab" data-toggle="tab"><img src= "{{ MEDIA_URL }}{{ com1_image.url }}" style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover;"></a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="{{ MEDIA_URL }}{{ com2_image.url }}" style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover;"></a></li>
					<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="{{ MEDIA_URL }}{{ com3_image.url }}" style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover;"></a></li>
				</ul> 
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="testi">
						<h5>{{com1_title}}</h5>
						<p>{{com1_content}}</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="profile">
						<h5>{{com2_title}}</h5>
						<p>{{com2_content}}</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="messages"> 
						<h5>{{com3_title}}</h5>
						<p>{{com3_content}}</p>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //testimonials -->
	<!-- contact -->
	<div id="contact" class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3912.6630849451954!2d106.13202911531806!3d11.286158152662734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310b6bb4581b9349%3A0x5ba2a932d401d4d9!2sLinh%20Trang%20Bridal!5e0!3m2!1svi!2sus!4v1676648005396!5m2!1svi!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="contact">
		<div class="container">
			<h3 class="agileits-title">{{menu6}}</h3>   
			<div class="contact-info">	
				<div class="col-md-4 contact-grids">
					<div class="cnt-address">
						<h5 class="w3ls-title1">Địa chỉ</h5> 
						<p>{{address}}
							<span>{{nextstep}}</span>
							Tây Ninh
						</p> 
						<p>Điện thoại: {{phone}}
							<span>{{nextstep}}</span> 
							E-mail: <a href="mailto:{{mail}}">{{mail}}</a>
						</p>
					</div>
				</div>
				<div class="col-md-8 contact-grids contact-grids-w3right">
					<h5>Để lại thông tin để được hỗ trợ</h5>
						<div class="contact-form">  
						<form action="{% url 'support' %}" method="post">
							{% csrf_token %}
							<label for="service">Dịch vụ cần hỗ trợ:</label>
							<textarea id="service" name="service" required placeholder="Vui lòng nhập thông tin cần hỗ trợ"></textarea>
						  
							<label for="name">Tên của bạn:</label>
							<input type="text" id="name" name="name" required placeholder="Vui lòng nhập tên của bạn">
						  
							<label for="phone">Số điện thoại:</label>
							<input type="number" id="phone" name="phone" required placeholder="Vui lòng nhập điện thoại của bạn">
						  
							<input type="submit" value="HOÀN THÀNH">
						  </form>
						
						  
						  
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> 
	<!-- //contact --> 
	<!-- footer start here --> 
	<div class="footer-agile">
		<div class="container">
			<div class="footer-top-agileinfo"> 
				<div class="col-md-4 col-sm-4 footer-wthree-grid">  
					<!--<div class="agile-logo footer-w3logo">  
						<h2><a href="index.html"><img src="{%static 'frontend/images/i1.png' %}" alt=""/> Bouquet</a></h2>
					</div> -->
				</div> 
				<div class="col-md-8 col-sm-8 footer-wthree-grid"> 
					<ul>
						<li><a class="scroll" href="#home"><span>{{menu1}}</span></a></li>
						<li><a href="#about" class="scroll"><span>{{menu2}}</span></a></li>
						<li><a href="#services" class="scroll"><span>{{menu3}}</span></a></li> 
						<li><a href="#portfolio" class="scroll"><span>{{menu4}}</span></a></li>
						<li><a href="#news" class="scroll"><span>{{menu5}}</span></a></li>
						<li><a href="#contact" class="scroll"><span>{{menu6}}</span></a></li> 
					</ul>
				</div> 	  
				<div class="clearfix"> </div>		
			</div>
			<div class="footer-btm-agileinfo">
				<div class="col-md-3 col-xs-3 footer-grid">
					<!--<h3>Useful Info</h3>
					<ul>
						<li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Hendrerit quam</a></li>
						<li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Amet consectetur </a></li>
						<li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Iquam hendrerit</a></li>
						<li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Donec ut lectus </a></li>
					</ul> -->
				</div> 
				<div class="col-md-3 col-xs-3 footer-grid w3social">
					<h3>Mạng xã hội</h3>
					<div class="social-icon">
						<!--<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a> -->
						<a href="{{face}}" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
					</div> 
				</div> 
				<div class="col-md-6 col-xs-6 footer-grid footer-review">
					<!--<h3>Nhận thông tin mới</h3>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Your Email" required="">
						<input type="submit" value="Đăng kí"> 
						<div class="clearfix"> </div>
					</form>  -->
					<div class="copy-w3lsright"> 
						<p>© 2023 Linhtrangbridal . All rights reserved</p>
					</div> 
				</div> 
				<div class="clearfix"> </div>
			</div>   
		</div>
	</div> 
	<!-- //footer end here -->   
	<!-- Kick off Filterizr -->
	<script src="{%static 'frontend/js/jquery.filterizr.js' %}"></script>  
	<script src="{%static 'frontend/js/controls.js' %}"></script> 
	<script type="text/javascript">
		$(function() {
			//Initialize filterizr with default options
			$('.filtr-container').filterizr();
		});
	</script>	
	<!-- swipe box js -->
	<script src="{%static 'frontend/js/jquery.swipebox.min.js' %}"></script> 
	<script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
	</script> 
	<!-- //swipe box js --> 	 
	<!-- start-smooth-scrolling -->
	<script src="{%static 'frontend/js/SmoothScroll.min.js' %}"></script> 
	<script type="text/javascript" src="{%static 'frontend/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{%static 'frontend/js/easing.js' %}"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->  
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{%static 'frontend/js/bootstrap.js' %}"></script>
</body>
</html>